/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.search-box{
  display: flex;
  align-items: baseline;
  width: 20rem;
}

.search-box label{
  margin-right: 1em;
  font-weight: 500;
}

.action-bar{
  display: flex;
  justify-content: space-between;
}
